<nav class="navbar navbar-expand-lg"><div class="container">
  <%= link_to 'Add New Event', new_event_path, :class => 'btn btn-outline-warning mb-2 rounded-pill' %>

  <div class="dropdown mr-2">
    <button class="btn btn-outline-warning mb-2 dropdown-toggle rounded-pill" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to 'Events',
                  events_path(:sort => "event_name", :tags => Hash[@tags_to_show.map { |x| [x, 1]}]),
                  id:'event_name_header', class:"dropdown-item text-warning" %>
      <%= link_to 'Tags',
                  events_path(:sort => "tag", :tags => Hash[@tags_to_show.map { |x| [x, 1]}]),
                  id:'event_name_header', class:'dropdown-item text-warning' %>
      <%= link_to 'Price',
                  events_path(:sort => "price", :tags => Hash[@tags_to_show.map {|x| [x, 1]}]),
                  id:'tags_header', class:'dropdown-item text-warning' %>
      <%= link_to 'Start Time',
                  events_path(:sort => "start_time", :tags => Hash[@tags_to_show.map {|x| [x, 1]}]),
                  id:'start_time_header', class:'dropdown-item text-warning'%>
      <%= link_to 'End Time',
                  events_path(:sort => "end_time", :tags => Hash[@tags_to_show.map {|x| [x, 1]}]),
                  id:'start_time_header', class:'dropdown-item text-warning' %>
    </div>
  </div>

  <%= form_tag events_path, method: :get do %>
    <%= text_field_tag :search_by_name, params[:search_by_name], placeholder:"search for event names", class: "mr-1 mb-2"%>
    <%= submit_tag "Search Name", :class => 'btn btn-outline-warning mb-2 rounded-pill' %>
  <% end %>
  <%= form_tag events_path, method: :get do %>
    <%= text_field_tag :search_by_time, params[:search_by_time], placeholder:"Eg. 2022-07-11", class: "mr-1 mb-2" %>
    <%= submit_tag "Search Day", :class => 'btn btn-outline-warning mb-2 rounded-pill' %>
  <% end %>
</div></nav>

<%= form_tag events_path, method: :get, id: 'tags_form' do %>
  Include: &nbsp
  <% @all_tags.each do |tags| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "tags[#{tags}]", tags, class: 'form-check-label mr-1'%>
      <%= check_box_tag "tags[#{tags}]", "1",  @tags_to_show.include?(tags), class: 'form-check-input' , id: 'checkbox'%>
    </div>
  <% end %>
  <%= submit_tag 'Refresh', id: 'tags_submit', class: 'btn btn-warning' %>
<% end %>

<div class="map-container">
  <div class="row">
    <div class="col">
      <div class="event-results border border-warning rounded p-2" style="height: 470px; overflow:auto;">
        <ol class="event-result-list">
          <div class="card-deck">
<!--            <div class="scrolling-container">-->
          <% @events.each do |event| %>
            <li
              class="event-result-item"
              data-longitude=<%= event["longitude"] %>
              data-latitude=<%= event["latitude"] %>
              data-address=<%= event["address"].split(" ").join("-") %>
            >
              <div class="card text-center mb-3" style="width: 18rem;">
                <%= image_tag(event.event_image, :class => "card-img-top") %>
                <div class="card-body">
                  <h5 class="card-title text-center align-middle">
                    <% if event.tag == "Food&Drink" %>
                      <td class="text-center align-middle">
                        <i class="fa-solid fa-utensils" style="color:#ffc107"></i>
                        <%= event.event_name %>
                      </td>
                    <% elsif event.tag == "Arts&Culture"%>
                      <td class="text-center align-middle">
                        <i class="fa-solid fa-palette" style="color:#ffc107"></i>
                        <%= event.event_name %>
                      </td>
                    <% elsif event.tag == "Travel"%>
                      <td class="text-center align-middle">
                        <i class="fa-solid fa-plane-departure" style="color:#ffc107"></i>
                        <%= event.event_name %>
                      </td>
                    <% elsif event.tag == "Movies"%>
                      <td class="text-center align-middle">
                        <i class="fa-solid fa-film" style="color:#ffc107"></i>
                        <%= event.event_name %>
                      </td>
                    <% elsif event.tag == "Music"%>
                      <td class="text-center align-middle">
                        <i class="fa-solid fa-headphones" style="color:#ffc107"></i>
                        <%= event.event_name %>
                      </td>
                    <% elsif event.tag == "Metraverse"%>
                      <td class="text-center align-middle">
                        <i class="fa-solid fa-vr-cardboard" style="color:#ffc107"></i>
                        <%= event.event_name %>
                      </td>
                    <% elsif event.tag == "Academia"%>
                      <td class="text-center align-middle">
                        <i class="fa-solid fa-book" style="color:#ffc107"></i>
                        <%= event.event_name %>
                      </td>
                    <% elsif event.tag == "Athletics"%>
                      <td class="text-center align-middle">
                        <i class="fa-solid fa-person-running" style="color:#ffc107"></i>
                        <%= event.event_name %>
                      </td>
                    <% else %>
                      <td class="text-center align-middle">
                        <i class="fa-solid fa-shuffle" style="color:#ffc107"w></i>
                        <%= event.event_name %>
                      </td>
                    <% end %>
                  </h5>
                </div>

              <p class="card-text text-muted">
                <%= event.tag %>, <strong>$<%= event.price %></strong>
                <br>
                <%= event.address %>
              </p>

              <div class="row mb-4">
                <div class="col-7">
                  <p class="card-text text-muted">
                    <strong>Time</strong><br>
                    <%= event.start_time.to_s[0, 16] %>
                    <br>
                    to
                    <br>
                    <%= event.end_time.to_s[0, 16] %>
                  </p>
                </div>
                <div class="col-4">
                  <div class="mb-1" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="--value:<%=event.percentage%>"></div>
                  <%= button_to 'Participate', participate_event_path(event), method: :post, :class => "button" %>
                </div>
              </div>

              <div class="card-footer">
                <small class="text-muted"><%= link_to "More about #{event.event_name}", event_path(event), :class =>'text-warning' %></small>
              </div>
            </div>
          <% end %>
<!--          </div>-->
        </div>
      </ol>
    </div>
  </div>

  <div class="col mt-4">
    <div
      id="map"
      data-location="<%= @location %>"
      data-center-lat="<%= @location_lat %>"
      data-center-lng="<%= @location_lng %>"
    >
    </div>
  </div>
  </div>
</div>
<%= javascript_pack_tag 'map' %>
<%=
  javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_KEY']}&callback=initMap",
                         defer: true
%>

