
<%= link_to 'Add new event', new_event_path, :class => 'btn btn-primary' %>
<%# <%= link_to 'Sign In' :class => 'btn btn-primary' %>
<%= form_tag events_path, method: :get, id: 'tags_form' do %>
  Include:
  <% @all_tags.each do |tags| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "tags[#{tags}]", tags, class: 'form-check-label' %>
      <%= check_box_tag "tags[#{tags}]", "1",  @tags_to_show.include?(tags), class: 'form-check-input' %>
    </div>
  <% end %>
  <%= submit_tag 'Refresh', id: 'tags_submit', class: 'btn btn-primary' %>
<% end %>
<table class="table table-striped col-md-12" id="events">
  <thead>
  <tr>
    <th class="<%= is_hilite("event_name") %>" >
      <%= link_to 'Events',
                  events_path(:sort => "event_name", :tags => Hash[@tags_to_show.map { |x| [x, 1]}]),
                  id:'event_name_header' %></th>
    <th class="<%= is_hilite("tags") %>" >
      <%= link_to 'tags',
                  events_path(:sort => "tags", :tags => Hash[@tags_to_show.map { |x| [x, 1]}]),
                  id:'event_name_header' %></th>
    <th>Address</th>
    <th class="<%= is_hilite("price") %>" >
      <%= link_to 'Price',
                  events_path(:sort => "price", :tags => Hash[@tags_to_show.map {|x| [x, 1]}]),
                  id:'tags_header' %></th>
    <th class="<%= is_hilite("available_spots") %>" >
      <%= link_to 'Available Spots',
                  events_path(:sort => "available_spots", :tags => Hash[@tags_to_show.map {|x| [x, 1]}]),
                  id:'available_spots_header' %></th>
    <th class="<%= is_hilite("occupied_spots") %>" >
      <%= link_to 'occupied Spots',
                  events_path(:sort => "occupied_spots", :tags => Hash[@tags_to_show.map {|x| [x, 1]}]),
                  id:'occupied_spots_header' %></th>
    <th class="<%= is_hilite("start_time") %>" >
      <%= link_to 'Start Time',
                  events_path(:sort => "start_time", :tags => Hash[@tags_to_show.map {|x| [x, 1]}]),
                  id:'start_time_header' %></th>
    <th class="<%= is_hilite("end_time") %>" >
      <%= link_to 'End Time',
                  events_path(:sort => "end_time", :tags => Hash[@tags_to_show.map {|x| [x, 1]}]),
                  id:'start_time_header' %></th>
    <th>More Info</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td>
        <%= event.event_name %>
      </td>
      <td>
        <%= event.tag %>
      </td>
      <td>
        <%= event.address %>
      </td>
      <td>
        <%= event.price %>
      </td>
      <td>
        <%= event.available_spots %>
      </td>
      <td>
        <%= event.occupied_spots %>
      </td>
      <td>
        <%= event.start_time%>
      </td>
      <td>
        <%= event.end_time%>
      </td>
      <td>
        <%= link_to "More", event_path(event) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

