<h2>Details about <em><%= @event.event_name %></em></h2>

<ul id="details">
  <li>
    tags:
    <%= @event.tag %>
  </li>
  <li>
    Start on:
    <%= @event.start_time.strftime("%B %d, %Y") %>
  </li>
  <li>
    End on:
    <%= @event.end_time.strftime("%B %d, %Y") %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @event.description %>
</p>

<div class="row">
  <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete', event_path(@event), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to movie list', events_path, :class => 'btn btn-primary col-2' %>
</div>
