<h2>Details about <em><%= @event.event_name %></em></h2>

<ul id="details">
  <li>
    Tags:
    <%= @event.tag %>
  </li>
  <li>
    Address:
    <%= @event.address %>
  </li>
  <li>
    Price:
    <%= @event.price %>
  </li>
  <li>
    Available Spots:
    <%= @event.available_spots %>
  </li>
  <li>
    Occupied Spots:
    <%= @event.occupied_spots %>
  <li>
    Start on:
    <%= @event.start_time%>
  </li>
  <li>
    End on:
    <%= @event.end_time %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @event.description %>
</p>

<div>
  <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Back to event list', events_path, :class => 'btn btn-primary col-2' %>
  <%= button_to 'Delete', event_path(@event), method: :delete %>
  <%= button_to 'Participate', participate_event(@event), method: :post %>
</div>
