
<div class="d-flex flex-row mb-3">
  <%= button_to 'Participate', participate_event_path(@event), method: :post, :class => "btn btn-outline-warning mr-3" %>
  <%= button_to 'Leave', unparticipate_event_path(@event), method: :delete, :class => "btn btn-outline-warning" %>
</div>

<h2>Details about <em><%= @event.event_name %></em></h2>

<ul id="details">
  <li>
    Tags:
    <%= @event.tag %>
  </li>
  <li>
    Address:
    <%= @event.address %>
  </li>
  <li>
    Price:
    <%= @event.price %>
  </li>
  <li>
    Available Spots:
    <%= @event.available_spots %>
  </li>
  <li>
    Occupied Spots:
    <%= @event.occupied_spots %>
  <li>
    Start on:
    <%= @event.start_time%>
  </li>
  <li>
    End on:
    <%= @event.end_time %>
  </li>
  <li>
    Organizer:
    <%= @organizer.email%>
  </li>
</ul>

<% if user_signed_in? and (@organizer==current_user or @participants.include? current_user)%>
  <h3>All participants:</h3>
  <p id="All participants">
    <% @participants.each do |user| %>
      <li>
      <%= user.email %>
      </li>
    <%end%>
  </p>
<%end%>

<h3>Description:</h3>
<p id="description">
  <%= @event.description %>
</p>

<div class="d-flex flex-row mb-3">
  <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-outline-warning mr-3' %>
  <%= button_to 'Delete', event_path(@event), method: :delete , :class => "btn btn-outline-warning mr-3" %>
  <%= link_to 'Back to event list', events_path, :class => 'btn btn-outline-warning' %>
</div>

