<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
<head>
  <title>Buddies</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Merriweather:wght@700&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tags %>
  <script src="https://kit.fontawesome.com/31b069ded3.js" crossorigin="anonymous"></script>
</head>
<body>
<%# These classes come from the Bootstrap CSS framework. %>
<nav class="navbar navbar-expand-lg bg-white bg-gradient text-white mb-3 mt-3">
  <div class="container">
      <h1 class="title text-warning">
        <i class="fa-solid fa-people-group"></i>Buddies
      </h1>
      <%= button_to events_path, { method: :get, class: "text-dark btn btn-outline-warning"} do %>
        <i class="fa-solid fa-house mr-2" style="color:black"></i>Home
      <% end %>

      <% if user_signed_in? %>
        <%= button_to show_events_joined_path(current_user), { method: :get, class: "text-dark btn btn-outline-warning"} do %>
          <i class="fa-solid fa-calendar-days mr-2" style="color:black"></i>Joined
        <% end %>

        <%= button_to show_events_posted_path(current_user), { method: :get, class: "text-dark btn btn-outline-warning"} do %>
          <i class="fa-solid fa-pen mr-2" style="color:black"></i>Posted
        <% end %>

        <%= button_to user_path(current_user), { method: :get, class: "text-dark btn btn-outline-warning"} do %>
          <i class="fa-solid fa-address-card mr-2" style="color:black"></i>Profile
        <% end %>

        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-dark btn btn-outline-warning"%>
      <% else %>

        <%= button_to new_user_session_path, { method: :get, class: "text-dark btn btn-outline-warning"} do %>
          <i class="fa-solid fa-user mr-2" style="color:black"></i>Sign In
        <% end %>

        <%= button_to new_user_registration_path, { method: :get, class: "text-dark btn btn-outline-warning"} do %>
          <i class="fa-solid fa-user-plus mr-2" style="color:black"></i>Sign Up
        <% end %>
      <% end %>
  </div>
</nav>
<hr/>
<div class="container">
  <%# Render "flash" messages in our application. This loads _flash.erb %>
  <%= render 'layouts/flash' %>
  <main id="main">
    <%= yield %>
  </main>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
